@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: azure;
   /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
    /* rgb(var(--background-start-rgb));  */
  /* background: linear-gradient(to bottom, #4f08ed 0.005%, white 39.995% ,  white 60% ); */
  /* background-size: 100% 100%; */

  ::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .img_p {
    padding-top: 180px;
  }

  .icon_slate {
    --tw-bg-opacity: 1;
    color: #4f08ed
      /* rgb(15 23 42 / var(--tw-bg-opacity)); */
  }

  .sticky\:tab {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  }

  .bg_image {
    background-image: url('./assets/herobg.png');
    background-repeat: no-repeat;
    /* background-color: #4f08ed; */
    background-color: #6A0DAD;
    background-position: center;
    height: auto;
    /* background-size: cover, 100% 50%; */


  }

}

/* .swiper {
  padding: 4px 4px ; 
  background-color: white;
  align-items: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  overflow-x: hidden;
} */

.main_Container {
  width: 50%;
  padding: 8px 4px;
  display: flex;
  justify-content: center;
  align-items: center;

}

swiper-container::part(button-next) {
  margin-top: 0px;
  position: absolute;
  top: 50px;
  color: #3b82fe;
  /* left: 270px; */
}

swiper-container::part(button-prev) {
  margin-top: 0px;
  position: absolute;
  top: 50px;
  color: #3b82fe;
  /* left: 4px */

}

.bottom_menu {
  /* background-color: white; */
  z-index: 1045;
}

swiper-container::part(pagination) {
  bottom: -4px;
  color: #4f08ed;
}

/* swiper-container::part(wrapper){
  height: 80%;
  background-color: aquamarine;
} */

swiper-container {
  /* height: 100%; */
  width: 100vw;
  padding: 4px;
  padding-right: 1px;
  padding-left: 2px;
  width: 19.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  /* outline: #3b82fe; */
  /* background-color: #3b82fe; */
}

.hide_nav {

  opacity: 0.5;
  transition: opacity 1s ease-in-out;
}

.text_shadow {
  text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  text-rendering: optimizeLegibility;
}

.text_shadow2 {
  text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  text-rendering: optimizeLegibility;
  color: white;
}

.glassy_nav {
  background-color: 'transparent';
  filter: blur(2px) brightness(1.2);
  opacity: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.shadow-my {
  background-color: 'inherit';
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 5px;
}
