@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 1080px) {
  :root {
    font-size: 1.2rem;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: azure;
  box-sizing: border-box;
   /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
    /* rgb(var(--background-start-rgb));  */
  /* background: linear-gradient(to bottom, #4f08ed 0.005%, white 39.995% ,  white 60% ); */
  /* background-size: 100% 100%; */
color: #1c0b29;
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .img_p {
    padding-top: 180px;
  }

  .icon_slate {
    --tw-bg-opacity: 1;
    color: #4f08ed
      /* rgb(15 23 42 / var(--tw-bg-opacity)); */
  }

  .sticky\:tab {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  }

  .bg_image {
    background-position: center; /* Center the image */
    /* background-image: url('./assets/herobg.png'); */
    background-color:  #630ba2 ;
   background-repeat: no-repeat; /* Prevent image tiling */
   background-size: cover; /* Ensure image covers the entire div */
   /* background: linear-gradient(to bottom, #630ba2 0%, rgba(0, 0, 0, 0.5)  100%);   */ 

  /* Gradient definition on top of the background image */
    /* background-repeat: no-repeat;
    background-position: center;
    height: auto;
    

    background-size: cover, 100% 50%; */
    
    /* #f0e4f9 */
  }

}

.bg_image2{
  background-image: url('./assets/herobg.png');
 background-repeat: no-repeat; 
 background-size: cover;  
 background-position: center;
}
/* .swiper {
  padding: 4px 4px ; 
  background-color: white;
  align-items: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  overflow-x: hidden;
} */

.main_Container {
  width: 50%;
  padding: 8px 4px;
  display: flex;
  justify-content: center;
  align-items: center;

}

swiper-container::part(button-next) {
  margin-top: 0px;
  position: absolute;
  top: 50px;
  color: #3b82fe;
  /* left: 270px; */
}



swiper-container::part(button-prev) {
  margin-top: 0px;
  position: absolute;
  top: 50px;
  color: #3b82fe;
  /* left: 4px */

}

.bottom_menu {
  /* background-color: white; */
  z-index: 1045;
}

swiper-container::part(pagination) {
  bottom: 2px;
  color: #3b82fe;
  z-index: 20;
}

.gap-4 {
  grid-gap: 1rem; /* Adjust gap size as needed */
}
/* swiper-container::part(wrapper){
  height: 80%;
  background-color: aquamarine;
} */

.mysearch input::placeholder{
  color: #6A0DAD;
  text-align: center;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .rootswiper{
    width: calc(100vw - 20px);
  }
}
@media (min-width: 768px) {
  .rootswiper{
    width: calc(30vw - 20px);
  }
}

.rootswiper swiper-container {
  /* width: 21rem; */
  /* width: 70vw; */
  display: flex;
  align-items: start;
  box-sizing: border-box;
  justify-content: center;
  /* outline: #3b82fe; */
  text-wrap: wrap;
  /* background-color: #3b82fe; */
  border-radius: 5px;
  
}

.rootswiper swiper-container swiper-slide{
  padding: 4px;
  padding-bottom: 12px;
}

/* .rootswiper swiper-container swiper-slide{
  padding: 4px;
} */
.mybranch swiper-container {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: start;
  /* outline: #3b82fe; */
  /* background-color: rgb(44, 242, 13); */
}

.prodswiper swiper-container {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: start;
  /* outline: #3b82fe; */
  background-color: transparent;
}

.mybranch swiper-container::part(pagination) {
  bottom: 0px;
  color: #4f08ed;
}

.prodswiper swiper-container::part(pagination) {
  bottom: -4px;
  color: #4f08ed;
  background-color: white;
}

.hide_nav {

  opacity: 0.5;
  transition: opacity 1s ease-in-out;
}

.text_shadow {
  text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  text-rendering: optimizeLegibility;
  color: white;
}

.text_shadow2 {
  text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  text-rendering: optimizeLegibility;
  color: white;
}
.text_shadow3 {
  text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  text-rendering: optimizeLegibility;
  color: rgba(0, 0, 0, 0.897);
}

.glassy_nav {
  background-color: 'transparent';
  filter: blur(2px) brightness(1.2);
  opacity: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* .shadow_cus {
  box-shadow: 0 5px 10px rgba(91, 90, 90, 0.05), 2px 0 10px rgba(137, 136, 136, 0.05), 0 2px 10px rgba(0,0,0,0), 2px 0 10px rgba(119, 118, 118, 0.1);
} */

.shadow_cus {
  box-shadow: 0 -5px 10px rgba(0,0,0,0.05), 5px 0 10px rgba(0,0,0,0.05), 0 5px 10px rgba(0,0,0,0), -5px 0 10px rgba(0,0,0,0.1);
}

.shadow-my {
  background-color: 'inherit';
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 5px;

}

.shadow_button {
  background-color: 'inherit';
  box-shadow: 0px 5px 10px rgba(8, 6, 6, 0.1);
  padding: 5px;
  outline: #630ba2;
  outline: 2px;
  border: 2px solid #630ba2;

}


.fit_placeholder {
  width: fit-content;
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 0.5em;
  margin-left: 6px;

}

.fit_placeholder::placeholder {
  color: #ffffff;
}

.fit-placeholder {
  color: #ffffff;
}



input[placeholder]{
  width: auto;
  border: none;
}



.shadow-photo {
  background-color: 'inherit';
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  /* padding: 10px; */
  border-radius: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.no_border input {
  border-bottom: 1px solid rgb(181, 180, 180);
}
.no_border input:focus {
  border: none;
  outline: none;
  box-shadow: 0 2px 0 0 #630ba2;
}

.no_border2 textarea:focus {
  border: none;
  outline: none;
  box-shadow: 0 2px 0 0 #526cf0;
}
.no_border_select select {
  border-bottom: 1px solid rgb(181, 180, 180);
}

.no_border_select select:focus {
  border: none;
  outline: none;
  box-shadow: 0 2px 0 0 #630ba2;
}

.hide_header {
  display: none;
}

.tab_text {
  box-shadow: '0px 5px 10px rgba(0, 0, 0, 0.1)';
  text-shadow:  '0px 2px 4px rgba(0,0,0,0.2)';
  text-rendering: 'optimizeLegibility';
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border: none;
  background: transparent;
  z-index: 1048;
}

progress::-webkit-progress-bar{
  background: transparent;
}

progress::-webkit-progress-value{
  background: linear-gradient(to left, #FF4500, #FF4500);
  background-attachment: fixed;
}

progress::-moz-progress-bar{
  background: linear-gradient(to left, #FF4500, #FF4500);
  background-attachment: fixed;
}
.rating{
  display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}
.rating label{
font-size: small;
cursor: pointer;
color: grey;
}

.rating label:hover,
.rating input[type='radio']:checked ~ label{
  color: gold;
}
