@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: gainsboro;
    ::-webkit-scrollbar {
      display: none;
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .img_p{
    padding-top: 180px;
  }
  .icon_slate {
    --tw-bg-opacity: 1;
    color: rgb(15 23 42 / var(--tw-bg-opacity));
}
.sticky\:tab{
  --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

.bg_image {
  background-image: url('./assets/herobg.png');
  background-repeat: no-repeat;
  background-color: #ffff;
  background-position:"center"; 
  height: auto;
  

}

}

/* .swiper {
  padding: 4px 4px ; 
  background-color: white;
  align-items: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  overflow-x: hidden;
} */

.main_Container {
   width: 50%; 
  padding: 8px 4px ;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

swiper-container::part(button-next){
  margin-top: 0px;
  position: absolute;
  top: 50px;
  color: #3b82fe;
  /* left: 270px; */
}
 swiper-container::part(button-prev){
  margin-top: 0px;
  position: absolute;
  top: 50px;
 color: #3b82fe;
 /* left: 4px */
  
}


swiper-container::part(pagination){
  bottom: 2px;
  color: #3b82fe;
}

 /* swiper-container::part(wrapper){
  height: 80%;
  background-color: aquamarine;
} */

swiper-container {
  height: 100%;
  width: 100%; 
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.hide_nav{
visibility: hidden;
}


